[Unit]
Description=GPS Panel
After=multi-user.target gpsd.socket

[Service]
Type=idle
User=astroberry
ExecStart=/usr/bin/python3 -u /var/www/gpspanel/gpspanel.py
StandardOutput=journal+console
StandardError=journal+console
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
